<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Contact Form App
    </title>
   <link rel="stylesheet" href="/css/style.css">

</head>
<div class="form-container">
<h1>Contact Us</h1>
<form action="/submit" method="POST" id="contactForm">
    <input type="text" name="name" placeholder="Your Name" required/>
    <input type="email" name="email" placeholder="Your Email" required/>    

    <textarea name="message" placeholder="Your Message" required></textarea>
    <button type="submit">Send </button>
</form>   

</div>
<script src="/js/script.js"></script>

<body>
    
</body>
</html>